# SQL

Standard language for interacting with a relational database. Most of SQL is _declarative_, the code states what should be done, not how to do it. The other parts of SQL are imperative, this is the part of the language for creating tables, fields etc.

### Data Manipulation Language (DML)
SQL DML allows modification to exsisting tables and performing querys on them.

### INSERT
```sql
INSERT
    INTO Student(uun, name, age, email)
    VALUES('s1428751', 'Bob', 19, 'bob@sms.ed.ac.uk')
```

The above inserts a new row into table `Student` with `uun` set to `'s1428751'`, `name` set to `'Bob'` etc. We can omit the `INTO` line as long as we declare the values in the order the table was created.

### UPDATE
```sql
UPDATE Student
    SET name = 'Bobby'
    WHERE uun = 's1428751'
```

Here we update all records with a `uun` of `'s1428751'` (since uun is unique, only one record will be updates), such that their `name` field is set `'Bobby'

### DELETE
```sql
DELETE
    FROM Student
    WHERE uun = 's1428751'
```

Simular to `UPDATE`, instead of changing fields the record is removed from the table.

### SELECT
Selection allows us to query data across 1 or many tables.

```sql
SELECT *
    FROM Student
    WHERE age > 19
```

Here we return the all the records in the student table whos age is greater that 19. We can specify what fields we want returned by listing them: 

```sql
SELECT name, age
    ...
```

To query across multiple tables we need to be more explicit:
```sql
SELECT Student.name, Student.age, Adresses.email
    FROM Student, Adresses
    WHERE Student.uun = Adresses.uun AND Student.uun = 's1428751'
```

Since `Student` and `Adresses` both have a `uun` field, we must prefix `uun` with the table name. If their is alot of table names and they are long we might want to alias them:

```sql 
SELECT S.name, S.age
    FROM Student AS S
    ...
```

Nested/inner querys allow more succinct querys (but they do not increase the expressive power of SQL. They work by using the result of the query in the outer query, for example:

```sql
SELECT Student.name, Student.email
FROM Student, Takes, (SELECT code FROM Course WHERE title='Mathematics 1') AS C
WHERE Student.uun = Takes.uun AND Takes.code = C.code
```

The table `C` is the resultant table of the nested query, which is used in the outer query.

### UNION

```sql
SELECT ...

UNION

SELECT ...
```

The `UNION` keyword takes the union of two select statements. This will return all the rows in the top and bottom selection statements.

### INTERSECT
```sql
SELECT ...

INTERSECT

SELECT ...
```
The `INTERSECT` keyword returns a new table with rows that exisist in both the top and bottom selection statements.

### EXCEPT
```sql
SELECT ...

EXCEPT

SELECT ...
```
The `EXCEPT` keyword returns a new table with rows that exsist in the top selection or the bottom selection (but not both)

### Addregate Operations
Some higher level operations that work on collections of values include:

| Name | Description |
| :--- | :--- |
| `COUNT(val)` | The number of values in the `val` field |
| `SUM(val)` | The total of all values in the `val` field |
| `AVG(val)` | THe mean of all values in the `val` field |
| `MAX(val)` | The greatest value in the `val` field |
| `MIN(val)` | The least value in the `val` field |

`val` can be prefixed with the `DISTINCT` keywork, to perform these aggregate operations on all the unique values of the field.


The following query returns the number of students in the `Student` table.
```sql
SELECT COUNT(DISTINCT uun) AS "Number"
FROM Student
```

### Multisets
The relational model with tuple relational algebra worked with sets, SQL however works with multisets. The order is still not important just like sets, however items in a multiset may appear multiple times. SQL can still work with sets, if we want to return a set from a `SELECT` query we can instead use `SELECT DISTINCT` which will remove duplicate records.

### Syntax
The three alphanumberic tokens are: keywords, identifiers and strings. Their rules are as follows:

| | Case Sensitive | Spaces Allowed | Quotation Character | Quotation Required |
| :--- | :--- | :--- | :--- | :--- |
| __Keywords__ | No | Never | None | No |
| __Identifiers__ | Implementation defined | If quoted | `"` | If spaces |
| __Strings__ | Implementation defined | Yes | `'` | Always |

### Query Evaluation
To perform a `SELECT` statement, databases use relation algebra. One obvious stategy would be:
- Compute the cross product ($\bowtie$) of all the `FROM` tables.
- Select ($\sigma$) all rows matching the `WHERE` condition.
- Project ($\pi$) fields listed in `SELECT`.

This however will most likely be slower than other methods. Databases will calculate the cost of many diffrent _query plans_ by lookig at the indexes, table sizes, selectivity and any potential parallelism. Once the fastest query plan is selected, it is executed.

### ACID
A transaction in a single operation on a database. The ACID constraints ensure that a tranasaction happens reliably by ensuring 4 properities.

| | |
| :--- | :--- |
| __Atomicity__ | All-or-nothing, a transition must run to completion or fail and leave the database unchanged |
| __Consistency__ | Applying a transaction in a valid state of the database will always give a vlaid result state |
| __Isolation__ | Concurrent actions have the same effect as if they were sequential |
| __Durability__ | Once a transaction is commited, it will not be rolled back |